---
name: home
url: /
---

<div class="grid-container">
	<div class="grid-block">
		<div class="grid-content">
			<form action="">
				<span class="inline-label">
					<input type="search" placeholder="Search for a Provider">
					<a ui-sref="results" class="button">Search</a>
				</span>
			</form>
		</div>
	</div>
	<div class="grid-block">
		<div class="designerNote"><span class="bold">Note: </span>Search isn't working--just click 'Search' to see search results page</div>
	</div>
	<div class="grid-block">
		<div class="grid-content primary card margin1rem">
			<div class="card-section flex jStart aCenter">
				<img zf-iconic="" icon="action" size="medium" class="iconic-color-success verticalFlip medium64">
				<h3 class="inline bold">Search For a provider</h3>
			</div>
			<div class="card-section">
				<p>You can search for a provider using any part of the provider's information.</p>
				<ul>
					<li>Name</li>
					<li>Address</li>
					<li>Phone or Fax Number</li>
					<li>Direct Email Address</li>
					<li>Specialty</li>
				</ul>
			</div>
		</div>
	</div>

</div>